<!DOCTYPE html>
<html lang="en">
<head>
 
    {{>header}}
</head>
<body>
    {{>navbar}}
    

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./images/slider_img_1.gif" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
            </div>
            <div class="carousel-item">
                <img src="./images/slider_img_2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
            </div>
            <div class="carousel-item">
                <img src="./images/slider_img_3.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
               
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

 

    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="./images/card_img_1.png" class="card-img-top" alt="Card Image 1">
                    <div class="card-body">
                        <h5 class="card-title">How to Choose The Best Technology Stack for Your Website</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Building a website is fun whether  business or e-commerce store. But with so many options out there, it can be overwhelming if you’re not techy. This guide will help you get through the basics and choose the right technology stack for your website so it meets your needs without the complexity.</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="./images/card_img_2.png" class="card-img-top" alt="Card Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Ready Made WordPress Theme vs Custom Unique Theme</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">If you are searching for WP themes, then we are sure you have made all the preparations for some idea about your WordPress website, including the features and functionalities of the site. You must also have finalized your website’s WP theme and the plugins you may need.</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="./images/card_img_3.png" class="card-img-top" alt="Card Image 3">
                    <div class="card-body">
                        <h5 class="card-title">20 Comprehensive List of Things that You Need to  Designing </h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">A step-by-step guide helps you in keeping all your tasks on track. These are the following things that every web design and development company keeps in their priority bucket to provide high-quality services. If you want to create highly skilled developers like websites, then check these 20 things in your website development process.  </small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
</body>
</html>
